<AuthorizeView Policy="Admin">
    <a href="/AdminApproval">
        Admin
    </a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a class="px-2"  href="/Profile">
            Profile
        </a>
        <a class="px-2"  href="/MicrosoftIdentity/Account/SignOut">
            Logout
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="px-2"  href="MicrosoftIdentity/Account/SignIn">
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>