@inherits LayoutComponentBase

<PageTitle>QuestionnaireStackUI</PageTitle>

<div class="page">
  
    <main>
        <div class=" sticky top-0 z-10 bg-white shadow-lg rounded-lg p-5 backdrop-filter backdrop-blur-lg bg-opacity-30">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
